.card-body a{
    font-size: 1.5vh;
}
.card-body img{
    height:4vh;
}

.card-body h5{
    font-size:2vh;
}

.card-body p {
    font-size:1.25vh;
}

.text-block {
    font-size:2vh;
}

.col-sm-6 a{
    font-size:1.5vh;
}